<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
	<h2>Survey Form Slut</h2>
	<form action="/result" method="post">
		Name:
		<input type="text" name="name"><br><br>
		Dojo Location:
		<select name="dojo">
			<option>Washington D.C.</option>
			<option>San Francisco</option>
			<option>Dallas</option>
			<option>Los Angeles</option>
		</select><br><br>
		Favorite Language:
		<select name="lang">
			<option>Ruby</option>
			<option>JavaScript</option>
			<option>Python</option>
		</select><br><br>
		Comment:
		<textarea name="comm" cols="50"></textarea><br><br>
		<input type="submit" name="Submit">
	</form>
	<hr>
</body>
</html>