<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<body>
	<h2>Submitted Info:</h2>
	<p>Name: <%= data.name %> </p>
	<p>Dojo Location: <%= data.dojo %> </p>
	<p>Favorite Language: <%= data.lang %> </p>
	<p>Comment: <%= data.comm %> </p><br>
	<a href="/">Home</a>
</body>
</html>