<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>
	<h2>New!</h2>
	<form action="/" method="post">
		Name: <input type="text" name="name">
		Weight: <input type="text" name="weight">
		Color: <input type="text" name="color">
		<input type="submit" name="Add New Dog!">
	</form>
</body>
</html>